<div class="container">
	<div class="row">
		<img src="/img/logo.jpg" height="70" width="100" />

		<h3>Gestión de notas</h3>
	</div>

	<div class="row">
		<form action="/asignatura/r">
			<input type="submit" value="Asignatura"/>
		</form>
		<br />

		<form action="/profesor/r">
			<input type="submit" value="Profesor"/>
		</form>
		<br />

		<form action="/alumno/r">
			<input type="submit" value="Alumno"/>
		</form>
		<br />

		<form action="/nota/r">
			<input type="submit" value="Nota"/>
		</form>
		<br />

	</div>
</div>